__pycache__/
src/dem_parser/output/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.dem
*.log
src/dem_parser/steam_demo_downloader/cs2module/*
!src/dem_parser/steam_demo_downloader/cs2module/cs2client.py
!src/dem_parser/steam_demo_downloader/cs2module/protobufs.py